<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <mat-card class="panel-body">
                <div class="sub-heading">
                    <h2>Select a Template Type</h2>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a routerLink="/template-selection"><img src="assets/images/basic.png" class="img-fluid"></a>
                    </div>
                    <div class="col-md-3">
                        <a routerLink="/template-selection"><img src="assets/images/basic.png"  class="img-fluid"></a>
                    </div>
                    <div class="col-md-3">
                        <a routerLink="/template-selection"><img src="assets/images/basic.png"  class="img-fluid"></a>
                    </div>
                    <div class="col-md-3">
                        <a routerLink="/template-selection"><img src="assets/images/basic.png"  class="img-fluid"></a>
                    </div>

                </div>
            </mat-card>
        </div>
    </div>
</div>




