<div class="modal-header">
    <h3>Create Wallboard - Widget & Data Selection</h3>
</div>
        <div class="container" *ngIf="!templateSelected">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="row template-section">
                        <div class="sub-heading stepper-headings col-sm-12">
                            <h2>Template Selection</h2>
                            <p>Adding wallboard to group allows you to run multiple wallboards in horizontally with or
                                without scrolling</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 template-selection-inner">
                            <div class="template-design-inner " (click)="nextStepTwo('tempOne')">
                                <div class="template-design">
                                    <span class="reg"></span>
                                    <span class="reg double"></span>
                                    <div class="clearfix"></div>
                                    <span class="reg"></span>
                                    <span class="reg double"></span>
                                </div>
                            </div>
                            <p>Template 1</p>
                        </div>
                        <div class="col-md-3 template-selection-inner">
                            <div class="template-design-inner " (click)="nextStepTwo('tempTwo')">
                                <div class="template-design ">
                                    <span class="reg"></span>
                                    <span class="reg"></span>
                                    <span class="reg"></span>
                                    <div class="clearfix"></div>
                                    <span class="reg"></span>
                                    <span class="reg"></span>
                                    <span class="reg"></span>
                                </div>
                            </div>
                            <p>Template 2</p>
                        </div>
                        <div class="col-md-3 template-selection-inner">
                            <div class="template-design-inner " (click)="nextStepTwo('tempThree')">
                                <div class="template-design ">
                                    <div class="left-grid">
                                        <span class="reg"></span>
                                        <span class="reg"></span>
                                    </div>
                                    <span class="reg double align-right cover-height"></span>
                                </div>
                            </div>
                            <p>Template 3</p>
                        </div>
                        <div class="col-md-3 template-selection-inner">
                            <div class="template-design-inner " (click)="nextStepTwo('tempFour')">
                                <div class="template-design ">
                                    <span class="reg half-grid cover-height"></span>
                                    <span class="reg half-grid cover-height"></span>
                                </div>
                            </div>
                            <p>Template 4</p>


                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-3 template-selection-inner">
                            <div class="template-design-inner " (click)="nextStepTwo('tempFive')">
                                <div class="template-design ">
                                    <div class="left-grid">
                                        <span class="reg half-three"></span>
                                        <span class="reg half-three"></span>
                                        <span class="reg half-three"></span>
                                    </div>
                                    <span class="reg double align-right cover-height"></span>
                                </div>
                            </div>
                            <p>Template 5</p>
                        </div>

                        <div class="col-md-3 template-selection-inner">
                            <div class="template-design-inner " (click)="nextStepTwo('tempSix')">
                                <div class="template-design ">
                                    <span class="reg half-grid"></span>
                                    <span class="reg half-grid"></span>
                                    <div class="clearfix"></div>
                                    <span class="reg half-grid"></span>
                                    <span class="reg half-grid"></span>
                                </div>
                            </div>
                            <p>Template 6</p>
                        </div>
                        <div class="col-md-3 template-selection-inner">

                            <div class="template-design-inner " (click)="nextStepTwo('tempSeven')">
                                <div class="template-design ">
                                    <span class="reg half-grid full-grid"></span>
                                    <div class="clearfix"></div>
                                    <span class="reg half-grid full-grid"></span>
                                </div>
                            </div>
                            <p>Template 7</p>
                        </div>
                        <div class="col-md-3 template-selection-inner">
                            <div class="template-design-inner " (click)="nextStepTwo('tempEight')">
                                <div class="template-design ">
                                    <span class="reg single full-grid cover-height"></span>
                                </div>
                            </div>
                            <p>Template 8</p>
                        </div>
                    </div>
                    <hr>
                    <div class="template-action row">
                        <div class="col-md-12">
                            <div class="action-area">
                                <button mat-raised-button class="gray-btn">Discard</button>
                                <button mat-raised-button class="blue-btn">Save & Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-template-selection *ngIf="templateSelected"  [selectedTemplate]="selectedTemplate"></app-template-selection>


