<!--<div class="tab-slider&#45;&#45;container" [ngSwitch]="viewMode">-->
    <!--<div id="tab1" class="tab-slider&#45;&#45;body" *ngSwitchCase="'tab1'">-->
        <!--<app-wallboard-main></app-wallboard-main>-->

    <!--</div>-->
    <!--<div id="tab2" class="tab-slider&#45;&#45;body" *ngSwitchCase="'tab2'">-->
        <app-wallboard-agent-summary></app-wallboard-agent-summary>

    <!--</div>-->
<!--</div>-->
<!--<div class="tab-slider&#45;&#45;nav">-->
    <!--<ul class="tab-slider&#45;&#45;tabs">-->
        <!--<li class="tab-slider&#45;&#45;trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">-->
        <!--</li>-->
        <!--<li class="tab-slider&#45;&#45;trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">-->
        <!--</li>-->
    <!--</ul>-->
    <!--<div class="logo-container text-right bottom-logo">-->
        <!--<a class="logo" routerLink="/">-->
            <!--<img alt="ExpertFlow" height="35"-->
                 <!--src="assets/images/expertflow-logo.png">-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->
